<% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
        <strong> <%= value %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% end %>
<div class="container">
    <h1 class="text-center">Tasks</h1>
    <div>
        <%= link_to "Add Task", new_task_path, class: "btn btn-warning", data: {turbo_frame: "new_task"} %>
    </div>
    <div>
        <%= turbo_frame_tag "new_task", target: "_top"  %>
    </div>
    <div id="tasks" class="py-4">
        <div class="row">
            <%= render @tasks %>
        </div>
    </div>
</div>